/*This is the css page that styles the application to donate page, which displays the application criteria*/
@font-face {
	font-family: daniel;
	src:url(Daniel-Bold.otf);
}


body {
	background-color: black;
	color: white;
	font-family: daniel;
}

h1 {

    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

#text_stuff {
    vertical-align: middle;
    color: #80CBC4;
    background-color: rgba(0, 137, 123, 0.8);
    border: 2px solid rgb(0, 137, 123);
    -webkit-border-radius: 10px;
    position: absolute;
    box-sizing: border-box;
    padding: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 100px;
}

