/*This is the css for the map.html page*/
@font-face {
    font-family: daniel;
    src: url(Daniel-Bold.otf);
}

html {
    font-family: daniel; /*I want to actually use Daniel-Bold.otf on the server*/
}

body {
    background-color: black;
	color: white;
}

h1 {
	font-family: daniel;
    font-size: 50px;
    text-align: center;
	color: white;
}

h2 {
	text-decoration: underline;
}

p {
	font-size: 20px;
}

#map_canvas {
	width: 60%;
	height: 600px;
	float: left;
	z-index; 1;
}

label, #tags {
	font-family: daniel;
}

#text_stuff {
	text-align: center;
    vertical-align: middle;
    color: #80CBC4;
    background-color: rgba(0, 137, 123, 0.8);
    border: 2px solid rgb(0, 137, 123);
    -webkit-border-radius: 10px;
    position: absolute;
    box-sizing: border-box;
    padding: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 100px;
}

button {
    font-family: daniel;
    color: #80CBC4;
    font-size: 20px;
    border: 2px solid #80CBC4;
    -webkit-border-radius: 5px;
    background: rgba(0, 0, 0, 0.0);
}
